---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { escapeViewTransitionName } from '@vtbag/utensil-drawer/escape-view-transition-name';

import { JSDOM } from 'jsdom';
import DOMPurify from 'dompurify';
import truncateHTML from 'truncate-html';

interface Props {
  nav?: boolean;
  banner?: boolean;
}

const { nav = true, banner = true } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = (await useTranslations(lang));

const blogEntries = (await getCollection('blog', ({data}) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})).toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="Blogs" activeNav="blog" isNavbar={nav} isBanner={banner} isCopyright={false}>
  <h1>{t.nav.blog.title}</h1>
	<ul>
		{
			blogEntries.map(async (post) => {
				const [postLang, ..._]: string[] = post.id.split('/');
				const postTitle = post.data.title;
				const bpostTitle = 'btitle' + postTitle;
				const bpostTime = 'btime' + postTitle;
				const bpostContent = 'bcontent' + postTitle;

				if (lang === postLang)
					return (
						<li class="posts">
							<a class="box" href={`/blog/${post.id}`}>
								<h3
									class="title fade-transition"
									aria-label={postTitle}
									style={{
										viewTransitionName: escapeViewTransitionName(bpostTitle),
									}}
								>
									{postTitle}
								</h3>
								<time
									class="publish-date fade-transition"
									datetime={post.data.pubDate?.toISOString()}
									style={{
										viewTransitionName: escapeViewTransitionName(bpostTime),
									}}
								>
									{post.data.pubDate.toLocaleDateString()}
								</time>
								<div
									aria-label={post.data.title}
									class="text fade-transition"
                  style={{ viewTransitionName: bpostContent }}
                >
                  <Fragment set:html={DOMPurify(new JSDOM('').window).sanitize(truncateHTML(post.rendered?.html ?? "", 30, { byWords: true }))} />
								</div>
							</a>
						</li>
					);
			})
		}
	</ul>
</Layout>

<style>
	:root {
		--line-height: 1.25;
	}

	body {
		display: flex;
	}

	ul {
		padding: unset;
		align-self: center;
	}

	ul li {
    margin-top: 0.4em;
    width: clamp(200px, 85dvw, 1000px);
  }

  h1 {
    margin-inline: auto;
  }

  h3 {
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

	.box {
		display: grid;
		/* grid-template-rows: auto 1fr auto; */
		line-height: var(--line-height);
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 10px;
	}


	.posts {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		line-height: var(--line-height);
	}

	.publish-date {
		color: var(--color-muted);
		font-size: 0.875rem;
		font-style: italic;
	}

	.text {
		--max-lines: 4;

		max-height: calc(var(--max-lines) * 1em * var(--line-height));
		line-height: var(--line-height);
    overflow: hidden;

    color: var(--color-muted);

    p {
      margin: .5rem 0 .5rem 0;
    }
	}
</style>
