---
import Layout from '@/layouts/Layout.astro';
import ImageHolder from '@/components/ImageHolder.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = (await useTranslations(lang));

const images: {
	src: string;
	title: string;
}[] = [
	{
		src: "talvinen_maisema_2_om79rt",
		title: t.images.winterLandscape,
	},
	{
		src: "Iso_kanto_epmfrp",
		title: t.images.bigRoot,
	},
	{
		src: "sininen_taivas_lzk8uh",
		title: t.images.blueSky,
	},
	{
		src: "auringon_kukka_2_sluble",
		title: t.images.sunflower,
	},
	{
		src: "Aamuinen_usva_wuukjq",
		title: t.images.morningMist,
	},
	{
		src: "Isompi_silta_pimeällä_kkeoee",
		title: t.images.colorfulBridge,
	},
	{
		src: "silta_pimeällä_blhpkq",
		title: t.images.bridgeAtNight,
	},
];
---

<Layout title={t.images.title} activeNav="kuvat">
	<h1 class="text-gradient title hero_text">
		{t.images.title}
	</h1>
	<p class="subtitle">{t.images.subtitle}</p>
	<ul role="list" class="image-card-grid cards">
		{
			images.map((image, i) => (
				<li>
					<ImageHolder cloudinary_id={image.src} title={image.title} transitionName={`${i}`} />
				</li>
			))
		}
	</ul>
</Layout>

<style>
	p.subtitle {
		margin-inline: auto;
		text-align: center;
		line-height: 1;
		margin-bottom: calc(var(--spacing) * 2);
		font-size: 1.2rem;
	}

	h1.title {
		line-height: 1;
		margin-bottom: calc((--spacing) * 4);
		font-size: 3.5rem;
		text-align: center;
		font-weight: var(--font-weight-bold);
	}

	.image-card-grid {
		--grid-min-col-size: 300px;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
		justify-items: center;
		gap: 0.5rem;
	}
</style>
