---
import Layout from '@/layouts/Layout.astro';
import ImageHolder from '@/components/ImageHolder.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Ghost from '../../data/images/Aamuinen usva.jpg';
import Sunflower from '../../data/images/auringon kukka 2.jpg';
import Big_root from '../../data/images/Iso kanto.jpg';
import NightBridgeWithLights from '../../data/images/Isompi silta pimeällä.jpg';
import WhiteLittleBridgeAtNight from '../../data/images/silta pimeällä.jpg';
import BlueSky from '../../data/images/sininen taivas.jpg';
import winterLandscape from '../../data/images/talvinen maisema 2.jpg';

const images: {
	src: ImageMetadata;
	title: string;
}[] = [
	{
		src: winterLandscape,
		title: t.images.winterLandscape,
	},
	{
		src: Big_root,
		title: t.images.bigRoot,
	},
	{
		src: BlueSky,
		title: t.images.blueSky,
	},
	{
		src: Sunflower,
		title: t.images.sunflower,
	},
	{
		src: Ghost,
		title: t.images.morningMist,
	},
	{
		src: NightBridgeWithLights,
		title: t.images.colorfulBridge,
	},
	{
		src: WhiteLittleBridgeAtNight,
		title: t.images.bridgeAtNight,
	},
];
---

<Layout title={t.images.title} activeNav="kuvat">
	<h1 class="text-gradient title hero_text">
		{t.images.title}
	</h1>
	<p class="subtitle">{t.images.subtitle}</p>
	<ul role="list" class="image-card-grid">
		{
			images.map((image, i) => (
				<li>
					<ImageHolder src={image.src} title={image.title} transitionName={'card' + i} />
				</li>
			))
		}
	</ul>
</Layout>

<style>
	p.subtitle {
		margin-inline: auto;
		text-align: center;
		line-height: 1;
		margin-bottom: calc(var(--spacing) * 2);
		font-size: 1.2rem;
	}

	h1.title {
		line-height: 1;
		margin-bottom: calc((--spacing) * 4);
		font-size: 3.5rem;
		text-align: center;
		font-weight: var(--font-weight-bold);
	}

	.image-card-grid {
		--grid-min-col-size: 300px;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
		justify-items: center;
		gap: 0.5rem;
	}
</style>
