---
import { SEOMetadata } from 'astro-seo-metadata';
import { ViewTransitions } from 'astro:transitions';
import { siteConfig } from '@/config';

interface Props {
	title: string;
}

const isOnline = (): boolean => {
	const cf_prod = import.meta.env.CLOUDFLARE_PRODUCTION;
	if (cf_prod == 'true') return true;
	else return false;
};

const { title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const isProd = import.meta.env.PROD;
const isDev = import.meta.env.DEV;
---

<!-- All properties are optional -->
<SEOMetadata
	siteName={siteConfig.siteName}
	title={title}
	description={siteConfig.description}
	favicon={'/favicon.svg'}
	author={siteConfig.mainAuthor}
	copyright="ISC"
	astroSitemap={true}
	canonicalUrl={Astro.url.toString()}
	type={'website'}
	astroGenerator={true}
/>

<meta charset="UTF-8" />
<!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->
<meta name="viewport" content="width=device-width" />
<link rel="dns-prefetch" href="//ozze.eu.org/" />
<link rel="dns-prefetch" href="//old.ozze.eu.org/" />
<slot name="prefetch"/>
<!--     <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} /> -->
<link rel="alternate" type="application/rss+xml" title="Åzze" href={`${Astro.site}rss.xml`} />
<title>{title}</title>
<ViewTransitions />
<!-- <script src="../js/main.js"></script> -->
{isProd &&  <script is:inline type="text/partytown" defer src="https://www.googletagmanager.com/gtag/js?id=GTM-P6SH88WW"></script>
<script is:inline type="text/partytown" defer>(() => {function g(){dataLayer.push(arguments)}window.dataLayer = window.dataLayer || [];g('js', new Date);g('config', 'GTM-P6SH88WW')})()</script>}
