---
import { CldImage } from 'astro-cloudinary';
import '@/global.css';

interface Props {
	title: string;
  body?: string;
  cloudinary_id: string;
	alt?: string;
	class?: string;
	transitionName?: string;
}

const { class: className, cloudinary_id, title, body, alt, transitionName } = Astro.props;

const _altfunc = (): string => {
	if (alt !== undefined) return alt;
	else if (alt === undefined) return title;
	else return '';
};
---

<div class={`card card${transitionName} gradient-border`}>
  <div>
    { cloudinary_id &&
      <CldImage
        src={cloudinary_id}
        class={`image ${className}`}
        loading="eager"
        fetchpriority="high"
        alt={_altfunc()}
      />
    }

		<h2 class="title">{title}</h2>
		{body !== undefined && <p class="body">{body}</p>}
	</div>
</div>

<style>
	.card {
		list-style: none;
		background-image: none;
    border-radius: 1rem;
    corner-shape: superellipse(0.6);
		backdrop-filter: blur(25px);
		div {
			width: 100%;
			text-decoration: none;
			line-height: 1.4;
			padding: 0.8rem;
			border-radius: 8px;
			color: white;
			opacity: 0.8;
		}
	}

	.image {
		border-radius: 8px;
    corner-shape: superellipse(0.6);
	}

	h2 {
		padding: 5px;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
</style>
