---
import type { CollectionEntry } from 'astro:content';
import { escapeViewTransitionName } from '@vtbag/utensil-drawer/escape-view-transition-name';

import Layout from './Layout.astro';
import Comments from '../components/svelte/Comments.svelte';

import '../styles/blog/markdown.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate } = Astro.props;
const formattedDate = `${pubDate?.getDay()}-${pubDate?.getMonth()}-${pubDate?.getFullYear()}`;
---

<Layout title={title} activeNav="blog" isSplash={false}>
	<article>
		<a href="/blog">Goto Blogs.</a>
		<h1
			aria-label={title}
			class="fade-transition"
			style={{ viewTransitionName: `btitle${escapeViewTransitionName(title)}` }}
		>
			{title}
		</h1>
		<time
			class="fade-transition"
			style={{ viewTransitionName: `btime${escapeViewTransitionName(title)}` }}
			>{formattedDate}</time
		>
    <slot />
    <Comments client:visible></Comments>
	</article>

	<style>
		body {
			display: grid;
			min-height: 100vh;
			grid-template-areas:
				'header'
				'main'
				'footer';
			grid-template-rows: 5rem minmax(0, 1fr) 5rem;
			grid-template-columns: minmax(0, 1fr);
		}

		article {
			justify-content: center;
			grid-area: main;
			margin-inline: auto;
		
		  a {
			  background:
				  linear-gradient(to right, oklch(84.52% 0 102.07), oklch(84.52% 0 102.07)),
				  linear-gradient(
					  to right,
					  rgba(255, 0, 0, 1),
					  rgba(255, 0, 180, 1),
					  rgba(0, 100, 200, 1)
				  );
			  background-size:
				  100% 1px,
				  0 1px;
			  background-position:
				  100% 100%,
				  0 100%;
			  background-repeat: no-repeat;
			  transition: background-size 400ms;
        text-decoration: none;
        color: grey;

        &:hover {
          background-size: 0 1px,
            100% 1px;
        }
		  }

		  h1 {
			  font-size: 2.5em;
			  line-height: 1.2 !important;
		  }
		  time {
			  font-size: 0.875em;
			  color: var(--text-muted);
			  margin-bottom: 2rem;
			  display: block;
		  }
    }
	</style>
</Layout>
