---
import { getLangFromUrl } from '@/i18n/utils';
import { siteFeatures } from '@/configFeatures';
import CommonHead from '@/components/CommonHead.astro';
import NavMenu from '@/components/nav-menu.astro';
// import ReloadPrompt from '@/components/ReloadPrompt.astro';
import Footer from '@/components/Footer.astro';
import SplashCursor from '@/components/ui/SplashCursor';
import Cookies from '@/components/cookies.astro';

import '@/styles/view-transition.scss';
import '@/global.css';
import '@/styles/holidays/index.css';

interface Props {
	title?: string;
	isNavbar?: boolean;
	isFooter?: boolean;
	isDark?: boolean;
	isSplash?: boolean;
	isCopyright?: boolean;
	activeNav?: string;
}

const {
	title,
	isNavbar = true,
	isFooter = true,
	isDark = true,
	isSplash = siteFeatures.params.functions.splashcursor,
	activeNav,
} = Astro.props;
const lang = getLangFromUrl(Astro.url);

const isKao = true;
const kaoid = 'kao';
---

<html class:list={[{ dark: isDark }]} lang={lang}>
	<head>
		<CommonHead title={title} />
		<slot name="head" />
	</head>
	<body>
		{isSplash && <SplashCursor client:only="preact" />}
		<header>
			{
				isKao && (
					<div
						id={kaoid}
						style={`view-transition-name: ${kaoid};`}
						class="fade-transition"
					/>
				)
			}
			{isNavbar && <NavMenu active={activeNav} transitionName="navmenu" />}
		</header>
		<slot />
		{siteFeatures.params.cookies.cookiesEnabled && <Cookies />}
		{isFooter && <Footer />}
		<script
			is:inline
			defer
			src={`https://cdn.jsdelivr.net/gh/keepandroidopen/keepandroidopen.github.io@master/public/banner.min.js?size=mini&id=${kaoid}`}
		></script>
	</body>
</html>

<script>
	import global from '@/ts/global-code';
	global();
</script>
