---
import Layout from '@/layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import { escapeViewTransitionName } from '@vtbag/utensil-drawer/escape-view-transition-name';

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');

	const paths = blogEntries.map((entry) => {
		const [lang, ..._] = entry.id.split('/');
		return { params: { lang, id: entry.id.slice(3) }, props: entry };
	});

	return paths;
}

const entry = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(entry);
---

<Layout title={entry.data.title} activeNav="blog" isSplash={false}>
  <article>
	  <a href="/blog">Goto Blogs.</a>
		<h1
			aria-label={entry.data.title}
			class="fade-transition"
      style={{ viewTransitionName: `btitle${escapeViewTransitionName(entry.data.title)}` }}
		>
			{entry.data.title}
		</h1>
		<time
			class="fade-transition"
      style={{ viewTransitionName: `btime${escapeViewTransitionName(entry.data.title)}` }}
      datetime={entry.data.pubDate.toISOString()}
    >{entry.data.pubDate.toLocaleDateString()}</time
    >
    <p class="read-time">{remarkPluginFrontmatter.minutesRead}</p>
	  <Content
		  class="fade-transition"
		  style={{ ViewTransitionName: `bcontent${entry.data.title}` }}
    />
  </article>
</Layout>

<style>
	body {
		display: grid;
		min-height: 100dvh;
		grid-template-areas:
			'header'
			'main'
			'footer';
		grid-template-rows: 5rem minmax(0, 1fr) 5rem;
		grid-template-columns: minmax(0, 1fr);
	}

	article {
		justify-content: center;
		grid-area: main;
    margin-inline: auto;
    width: clamp(200px, 90dvw, 1000px);
  }

  a {
    background:
      linear-gradient(to right, oklch(84.52% 0 102.07), oklch(84.52% 0 102.07)),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
    background-size:
      100% 1px,
      0 1px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    text-decoration: none;
    color: grey;

    &:hover {
      background-size: 0 1px,
        100% 1px;
    }
  }

  time {
    font-size: 0.875em;
    color: grey;
    display: block;
  }

  .read-time {
    font-size: 0.875em;
    color: grey;
    margin: 0;
  }
</style>
